@charset "UTF-8";

/* ================= CORES ================= */
:root {
  --cor-primaria: #6C3BFF;
  --cor-secundaria: #9D4EDD;
  --cor-fundo: #F9F9FB;
  --cor-texto: #1A1A1A;
  --cor-branco: #FFFFFF;
  --cor-destaque: #FFD60A;
}

/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  padding-top: 0px; /* Header fixo */
}

/* ================= HEADER ================= */
header{
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:transparent;
  color: white;
  z-index: 10;
}


.logo img {
  height: 70px;
  object-fit: contain;
  filter: brightness(0) invert(1);
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;

}

nav a {
  color: white;
  margin-left: 0px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: var(--cor-destaque);
}



  nav a {
    margin: 0;
  }


/* ================= HERO / TOPO ================= */
.hero,
.topo-devocional,
.topo-aconselhamento,
.topo-oracao,
.topo-contato {
  height: 100vh;
  padding: 100px 20px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: white;
  z-index: 1;
}

@media (max-width: 768px) {
  .hero,
  .topo-devocional,
  .topo-aconselhamento,
  .topo-oracao,
  .topo-contato {
    height: 60vh;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px 15px;
  }
}

.hero::after,
.topo-devocional::after,
.topo-aconselhamento::after,
.topo-oracao::after,
.topo-contato::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.733);
}

.topo-texto {
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .hero h2,
  .topo-devocional h1,
  .topo-aconselhamento h1,
  .topo-oracao h1,
  .topo-contato h1 {
    font-size: 24px;
  }

  .hero p,
  .topo-devocional p,
  .topo-aconselhamento p,
  .topo-oracao p,
  .topo-contato p {
    font-size: 14px;
  }
}

/* Backgrounds específicos */
.hero { background: url('imagens/cabecalho.png') center/cover no-repeat; }
.topo-devocional { background: url('imagens/cruz.png') center 35% / cover no-repeat; }
.topo-aconselhamento { background: url('imagens/pomba.png') center 33% / cover no-repeat; }
.topo-oracao { background: url('imagens/calice.png') center 60% / cover no-repeat; }
.topo-contato { background: url('imagens/coroa.png') center 80% / cover no-repeat; }

/* ================= CONTAINER ================= */
.container {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

/* ================= CARDS ================= */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  
}

.card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.137);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100%;
}

.card:hover {
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

.card p {
  margin: 10px 0;
}

.card .btn {
  margin-top: auto;
}

.oracao-conteudo,
.contato-conteudo {
  text-align: center;
}

/* ================= BOTÃO ================= */
.btn {
  display: inline-block;
  background: var(--cor-destaque);
  color: #000;
  padding: 12px 25px;
  margin-top: 15px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
  background: #ffc300;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255,255,255,0.6), transparent);
  transition: 0.5s;
}

.btn:hover::after {
  left: 100%;
}

.footer {
  background: #111;
  color: #ccc;
  padding: 40px 20px 20px;
  background: linear-gradient(180deg, #111, #000);
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

}

.footer-col h3,
.footer-col h4 {
  color: white;
  margin-bottom: 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #333;
  padding-top: 15px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.filtro {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 30px 0;
  flex-wrap: wrap;
}

.filtro a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;

  background: transparent;
  border: 2px solid var(--cor-destaque);
  color: var(--cor-texto);

  font-weight: 500;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
}

/* hover */
.filtro a:hover {
  background: var(--cor-destaque);
  color: #000;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

/* quando clicar (ativo) */
.filtro a.ativo {
  background: var(--cor-destaque);
  color: #000;
}

.apagado {
  display: none;
}

.categoria {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s ease;
}

/* quando vai sumir */
.categoria.apagado {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}

.pagina-devocionais .cards {
  align-items: start;
}

.pagina-devocionais .card {
  height: auto;
}

.pagina-aconselhamento .cards {
  align-items: start;
}

.pagina-aconselhamento .card {
  height: auto;
}
@media (max-width: 768px) {
  .hero,
  .topo-devocional,
  .topo-aconselhamento,
  .topo-oracao,
  .topo-contato {
    padding-top: 40px;
  }
}
/* esconder checkbox */
#menu-toggle {
  display: none;
}

/* ícone hamburguer */
.menu-icon {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {

  /* mostrar botão */
  .menu-icon {
    display: block;
  }

  /* esconder menu inicialmente */
  .menu {
    position: absolute;
    top: 80px;
    right: 20px;
    width: 220px;

    background: rgba(0,0,0,0.95);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    max-height: 0;
    overflow: hidden;

    transition: 0.3s ease;
  }

  .menu a {
    padding: 15px;
    width: 100%;
    text-align: center;
  }

  /* QUANDO CLICAR */
  #menu-toggle:checked ~ .menu {
    max-height: 500px;
  }
}

.aconselhamento-box {
  max-width: 800px;
  margin: 40px auto; /* centraliza */
  padding: 0 20px;   /* espaço lateral */
  text-align: center;
}

